[Unit]
Description=DROP Admin panel

[Service]
Type=simple

User=drop-core
Group=drop-core

EnvironmentFile=/etc/drop-env

WorkingDirectory=/opt/drop-plgn-webbone
ExecStart=/opt/drop-plgn-webbone/start
ExecStop=/opt/drop-plgn-webbone/stop
KillMode=process
KillSignal=SIGKILL

Restart=on-failure

[Install]
WantedBy=multi-user.target
